body {
    background-color: #1f2b34;
    font-family: Teko, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    
    margin: 0;
    padding: 0;
    display:flex; flex-direction:column; justify-content:center;
    min-height:100vh;
  }

  
  p {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-size: 250%;
    color: black;
  }
  
  ul {
    font-weight: bold;
    font-size: 200%;
    color: black;
  }
  
  a:link {
    color: black;
  }
  
  /* visited link */
  a:visited {
    color: black;
  }
  
  /* mouse over link */
  a:hover {
    color: green;
  }
  
  /*Class for back to main page link */
  .back {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  
    font-size: 200%;
  }
  
  h1 {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  
    font-size: 500%;
    color: black;
  }
  
  h2 {
    font-size: 500%;
    color: black;
  }
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .contactimages img
  {
    display: inline-block;
  }

  .contactimages
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  
  .navbar-nav
  {
    display:inline-block;
    text-align: center;
  }
  
  
  #jaredface {
    display: inline-block;
    height: 100vh;
  }
  
  #jared {
    position: fixed;
    top: 0;
    left: 175px;
    font-size: 500%;
    text-align:center;
  }
  
  .spin {
    transition: transform 0.5s;
  }
  .spin:hover {
    transform: rotate(180deg);
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 10px;
  }

  .form-check
  {
    color:black;
    font-size: 200%;
  }

  .nav-link:hover
  {
    color:green;
  }

  .nav-link
  {
    font-size: 250%;
  }
  .form-control
  {
    font-size: 200%;
  }

  .col-form-label
  {
    color: blue;
    font-size: 500%;
  }

